/* Media query */
@media (max-width: 576px) {
    .custom-style {
        background-color: red;
    }
}

@media (min-width: 577px) {
    .custom-style {
        background-color: blue;
    }
}

@media (min-width: 769px) {
    .custom-style {
        background-color: green;
    }
}

button {
    background-color: cyan;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
    color: aliceblue;
    cursor: not-allowed;
}

button:not(:disabled):hover {
    background-color: red;
    color: aliceblue;
    font-weight: bold;
}

button:disabled:hover {
    pointer-events: none;
}

